<div class="newBill">

  <button mat-raised-button [routerLink]="['/clients']" routerLinkActive="router-link-active" >Torna ai clienti</button>
  
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.data | date}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Numero </th>
      <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="anno">
      <th mat-header-cell *matHeaderCellDef> Anno </th>
      <td mat-cell *matCellDef="let element"> {{element.anno}} </td>
    </ng-container>
    
    <ng-container matColumnDef="importo">
      <th mat-header-cell *matHeaderCellDef> Importo </th>
      <td mat-cell *matCellDef="let element"> {{element.importo}} </td>
    </ng-container>
    
    <ng-container matColumnDef="stato">
      <th mat-header-cell *matHeaderCellDef> Stato </th> 
      <td mat-cell *matCellDef="let element"> {{element.stato.nome}} </td>
    </ng-container>
    
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
        <button matTooltip = "elimina" mat-icon-button color="primary" (click)="removeBill(element)">
          <mat-icon>delete</mat-icon>
        </button> 
        <button matTooltip = "modifica" mat-icon-button color="primary" [routerLink]="['/bill', element.id, 'edit']" routerLinkActive="router-link-active" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" [routerLink]="['/bill/:id/details']" routerLinkActive="router-link-active" >
          <mat-icon>speaker_notes</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  
</div>