<h1>Modifica Fattura</h1>
<div class="editBill">

    
    <button mat-raised-button [routerLink]="['/bills']" routerLinkActive="router-link-active" >Torna alla pagina Fatture</button>
    
    <mat-card class="mat-elevation-z8">
        <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput placeholder="Inserisci la data" [(ngModel)]="bill.data">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Numero</mat-label>
            <input matInput placeholder="Inserisci il numero" [(ngModel)]="bill.numero">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Anno</mat-label>
            <input matInput placeholder="Inserisci l'anno" [(ngModel)]="bill.anno">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Importo</mat-label>
            <input matInput placeholder="Inserisci l'importo" [(ngModel)]="bill.importo" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Stato</mat-label>
            <input matInput placeholder="lo stato della fattura" [(ngModel)]="bill.stato.nome" >
        </mat-form-field>  
        <mat-form-field appearance="outline">
            <mat-label>Stato ID</mat-label>
            <input matInput placeholder="lo stato della fattura" [(ngModel)]="bill.stato.id" >
        </mat-form-field>  
        <button mat-raised-button (click)="editBill()">Salva</button>
        
    </mat-card>
    
</div>