<h1>Login</h1>
<div class="login">

    <mat-card class="mat-elevation-z8">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your email" [(ngModel)]="user.username" >
            
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter your password" [(ngModel)]="user.password" >
            
        </mat-form-field>
        
        <button mat-raised-button (click)="loginCrm()">Login</button>
    </mat-card>
    <mat-divider></mat-divider>
    <button mat-raised-button [routerLink]="['/signup']" routerLinkActive="router-link-active" >Registrati</button>
</div>
