<p>
    <mat-toolbar class="navbar" color="primary">

        <span>CRM-App</span>
        <button mat-button [routerLink]="['/clients']" routerLinkActive="router-link-active">Clienti</button>
        <button mat-button [routerLink]="['/bills']" routerLinkActive="router-link-active">Fatture</button>
        <span class="example-spacer"></span>
        <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
</p>