<h1>Modifica Cliente</h1>
<div class="editClient">

    
    <button mat-raised-button [routerLink]="['/clients']" routerLinkActive="router-link-active" >Torna alla pagina clienti</button>
    
    <mat-card class="mat-elevation-z8">
        <mat-form-field appearance="outline">
            <mat-label>Ragione Sociale</mat-label>
            <input matInput placeholder="Inserisci la ragione sociale" [(ngModel)]="client.ragioneSociale">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Partita Iva</mat-label>
            <input matInput placeholder="Inserisci la partita iva" [(ngModel)]="client.partitaIva">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Forma giuridica</mat-label>
            <input matInput placeholder="Scegli la forma giuridica"  [(ngModel)]="client.tipoCliente">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Inserisci l'indirizzo e-mail" [(ngModel)]="client.email" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>PEC</mat-label>
            <input matInput placeholder="Inserisci l'indirizzo pec" [(ngModel)]="client.pec">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Inserisci telefono" [(ngModel)]="client.telefono">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nome Contatto</mat-label>
            <input matInput placeholder="Inserisci il nome del contatto" [(ngModel)]="client.nomeContatto" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Cognome Contatto</mat-label>
            <input matInput placeholder="Inserisci il cognome del contatto" [(ngModel)]="client.cognomeContatto" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Telefono Contatto</mat-label>
        <input matInput placeholder="Inserisci il telefono del contatto" [(ngModel)]="client.telefonoContatto" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email Contatto</mat-label>
        <input matInput placeholder="Inserisci l'indirizzo e-mail del contatto" [(ngModel)]="client.emailContatto" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Provincia</mat-label>
        <input matInput placeholder="scegli la provincia" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Comune</mat-label>
        <input matInput placeholder="scegli il comune" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>CAP</mat-label>
        <input matInput placeholder="scegli il cap" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Via/Piazza/Vicolo</mat-label>
        <input matInput placeholder="Inserisci Via, Piazza, Vicolo ecc." >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Civico</mat-label>
        <input matInput placeholder="Inserisci il civico" >
    </mat-form-field>
    
    <button mat-raised-button (click)="editClient()">Salva</button>
    
</mat-card>

</div>