<h1>Nuovo Cliente</h1>
<div class="newClient">
    
<button mat-raised-button [routerLink]="['/clients']" routerLinkActive="router-link-active" >Torna alla pagina clienti <span class="spazio"></span> </button>

    
    
    <mat-card class="mat-elevation-z8">
        <h2>Anagrafica Cliente</h2>
        <mat-form-field appearance="outline">
            <mat-label>Ragione Sociale</mat-label>
            <input matInput placeholder="Inserisci la ragione sociale" [(ngModel)]="client.ragioneSociale">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Partita Iva</mat-label>
            <input matInput placeholder="Inserisci la partita iva" [(ngModel)]="client.partitaIva">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Forma giuridica</mat-label>
            <mat-select [(ngModel)]="client.tipoCliente">
                <mat-option *ngFor="let item of typeOfClient" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Inserisci l'indirizzo e-mail" [(ngModel)]="client.email" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>PEC</mat-label>
            <input matInput placeholder="Inserisci l'indirizzo pec" [(ngModel)]="client.pec">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Inserisci telefono" [(ngModel)]="client.telefono">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nome Contatto</mat-label>
            <input matInput placeholder="Inserisci il nome del contatto" [(ngModel)]="client.nomeContatto" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Cognome Contatto</mat-label>
            <input matInput placeholder="Inserisci il cognome del contatto" [(ngModel)]="client.cognomeContatto" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Telefono Contatto</mat-label>
            <input matInput placeholder="Inserisci il telefono del contatto" [(ngModel)]="client.telefonoContatto" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email Contatto</mat-label>
            <input matInput placeholder="Inserisci l'indirizzo e-mail del contatto" [(ngModel)]="client.emailContatto" >
        </mat-form-field>

        <h2>Indirizzo Sede Operativa</h2>
        <mat-form-field appearance="fill">
            <mat-label>Provincia</mat-label>
            <mat-select (selectionChange)="provinciaClientChanged($event)">
                <mat-option value="aggiungiClientProvincia">AGGIUNGI</mat-option>
                <mat-option  *ngFor="let provincia of province" [value]="provincia">{{provincia.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Comune</mat-label>
            <mat-select (selectionChange)="comuneClientChanged($event)" [(ngModel)]="client.indirizzoSedeOperativa.comune">
            <mat-option value="aggiungiClientComune">AGGIUNGI</mat-option>
            <mat-option *ngFor="let comune of comuniFiltrati" [value]="comune">{{comune.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Località</mat-label>
            <input matInput placeholder="Inserisci la località" [(ngModel)]="client.indirizzoSedeOperativa.localita">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>CAP</mat-label>
            <input matInput placeholder="Inserisci il cap" [(ngModel)]="client.indirizzoSedeOperativa.cap" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Via/Piazza/Vicolo</mat-label>
            <input matInput placeholder="Inserisci Via, Piazza, Vicolo ecc." [(ngModel)]="client.indirizzoSedeOperativa.via" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Civico</mat-label>
            <input matInput placeholder="Inserisci il civico" [(ngModel)]="client.indirizzoSedeOperativa.civico" >
        </mat-form-field>

        <h2>Indirizzo Sede Legale</h2>

        <mat-form-field appearance="fill">
            <mat-label>Provincia</mat-label>
            <mat-select (selectionChange)="provinciaChangedSedeLegale($event)">
                <mat-option  *ngFor="let provincia of province" [value]="provincia">{{provincia.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Comune</mat-label>
            <mat-select [(ngModel)]="client.indirizzoSedeLegale.comune">
                <mat-option *ngFor="let comune of comuniFiltratiSedeLegale" [value]="comune">{{comune.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Località</mat-label>
            <input matInput placeholder="Inserisci la località" [(ngModel)]="client.indirizzoSedeLegale.localita">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>CAP</mat-label>
            <input matInput placeholder="Inserisci il cap" [(ngModel)]="client.indirizzoSedeLegale.cap" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Via/Piazza/Vicolo</mat-label>
            <input matInput placeholder="Inserisci Via, Piazza, Vicolo ecc." [(ngModel)]="client.indirizzoSedeLegale.via" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Civico</mat-label>
            <input matInput placeholder="Inserisci il civico" [(ngModel)]="client.indirizzoSedeLegale.civico" >
        </mat-form-field>
        
        <button mat-raised-button (click)="createClient()">Add</button>
        
    </mat-card>
    
</div>