:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  mat-form-field, button {
    width: 80%;
}

.newClient{
    width: 700px;
    margin: 0 auto;
    padding:25px;

}

.spazio{
  Flex: 1 1 auto;
}