<h1>Dettagli Cliente</h1>

<button mat-raised-button [routerLink]="['/clients']" routerLinkActive="router-link-active" >Torna alla pagina clienti</button>

<mat-card class="mat-elevation-z8">
    <mat-form-field appearance="outline">
        <mat-label>Ragione Sociale</mat-label>
        <input matInput placeholder="Inserisci la ragione sociale">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Partita Iva</mat-label>
        <input matInput placeholder="Inserisci la partita iva">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Forma giuridica</mat-label>
        <input matInput placeholder="Scegli la forma giuridica" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Inserisci l'indirizzo e-mail" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>PEC</mat-label>
        <input matInput placeholder="Inserisci l'indirizzo pec" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Nome Contatto</mat-label>
        <input matInput placeholder="Inserisci il nome del contatto" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Cognome Contatto</mat-label>
        <input matInput placeholder="Inserisci il cognome del contatto" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Telefono Contatto</mat-label>
        <input matInput placeholder="Inserisci il telefono del contatto" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email Contatto</mat-label>
        <input matInput placeholder="Inserisci l'indirizzo e-mail del contatto" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Provincia</mat-label>
        <input matInput placeholder="scegli la provincia" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Comune</mat-label>
        <input matInput placeholder="scegli il comune" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>CAP</mat-label>
        <input matInput placeholder="scegli il cap" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Via/Piazza/Vicolo</mat-label>
        <input matInput placeholder="Inserisci Via, Piazza, Vicolo ecc." >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Civico</mat-label>
        <input matInput placeholder="Inserisci il civico" >
    </mat-form-field>
   
    <button mat-raised-button>Add</button>
    
</mat-card>
