<h1>Signup</h1>
<div class="signup">

    <mat-card class="mat-elevation-z8">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Enter your email" [(ngModel)]="newUser.nome" >            
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Cognome</mat-label>
            <input matInput placeholder="Enter your email" [(ngModel)]="newUser.cognome" >            
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your email" [(ngModel)]="newUser.username" >            
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" [(ngModel)]="newUser.email" >            
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" [(ngModel)]="newUser.password" >            
        </mat-form-field>
        
        
        <button mat-raised-button (click)="registraNuovoUtente()">Registrati</button>
    </mat-card>
</div>