<div>

    <mat-form-field appearance="outline">
        <mat-label>Nome Provincia</mat-label>
        <input matInput placeholder="Inserisci la provincia" [(ngModel)]="provinceToInsert.nome">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Sigla Provincia</mat-label>
        <input matInput placeholder="Inserisci la sigla" [(ngModel)]="provinceToInsert.sigla">
    </mat-form-field>
    <button mat-button (click)='aggiungiProvincia()'>Aggiungi</button>
    <button mat-button mat-dialog-close>Close</button>
    
</div>