<h1>Nuovo Fattura Cliente: {{clientName}}</h1>


<div class="newBill">
    <span class="spazio"></span>
    <button mat-raised-button [routerLink]="['/bills']" routerLinkActive="router-link-active" >Torna alla pagina Fatture</button>

    
    
    <mat-card class="mat-elevation-z8">
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="bill.data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Numero</mat-label>
            <input matInput placeholder="Inserisci il numero" [(ngModel)]="bill.numero">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Anno</mat-label>
            <input matInput placeholder="Inserisci l'anno" [(ngModel)]="bill.anno">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Importo</mat-label>
            <input matInput placeholder="Inserisci l'importo" [(ngModel)]="bill.importo" >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Stato Fattura</mat-label>
            <mat-select [(ngModel)]="bill.stato">
                <mat-option *ngFor="let item of billState" [value]="item">{{item.nome}}</mat-option>
            </mat-select>
        </mat-form-field>  
    
        <button mat-raised-button (click)="newBill()">Salva fattura</button>
        
    </mat-card>
    
</div>