<div>

    <mat-form-field appearance="outline">
        <mat-label>Nome Comune</mat-label>
        <input matInput placeholder="Inserisci il comune" [(ngModel)]="comuneToInsert.nome">
    </mat-form-field>
    
    <button mat-button (click)='aggiungiComune()'>Aggiungi</button>
    <button mat-button mat-dialog-close>Close</button>
    
</div>
