<div class="newClient">

  <button mat-raised-button [routerLink]="['/client/new']" routerLinkActive="router-link-active" >Crea nuovo cliente</button>
  
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="ragioneSociale">
      <th mat-header-cell *matHeaderCellDef> Ragione Sociale </th>
      <td mat-cell *matCellDef="let element"> {{element.ragioneSociale}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="partitaIva">
      <th mat-header-cell *matHeaderCellDef> Partita Iva </th>
      <td mat-cell *matCellDef="let element"> {{element.partitaIva}} </td>
    </ng-container>
    
    <ng-container matColumnDef="tipoCliente">
      <th mat-header-cell *matHeaderCellDef> Forma giuridica </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoCliente}} </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>
    
    
    
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
        <button matTooltip = "elimina" (click)="removeClient(element)" mat-icon-button color="primary">
          <mat-icon>delete</mat-icon>
        </button> 
        <button matTooltip = "modifica" mat-icon-button color="primary" (click)="selectEditClient(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip = "dettagli del cliente" mat-icon-button color="primary" [routerLink]="['/client/:id/details']" routerLinkActive="router-link-active" >
          <mat-icon>speaker_notes</mat-icon>
          
        </button>
        <button matTooltip = "archivio fatture" mat-icon-button color="primary" (click)="clientBills(element)">
          <mat-icon>folder</mat-icon>
          
        </button>
        <button matTooltip = "inserisci fattura" mat-icon-button color="primary" (click)="newBill(element)">
          <mat-icon>insert_drive_file</mat-icon>
          
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
    
  </table>
  
  <mat-paginator  [pageSize]="10"  (page)="pageEvent = $event" aria-label="Select page of users"></mat-paginator>
  
</div>